[submodule "home/.vim/bundle/vim-colors-solarized"]
	path = home/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-coffee-script"]
	path = home/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-css-color"]
	path = home/.vim/bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "home/.vim/bundle/vim-css3-syntax"]
	path = home/.vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "home/.vim/bundle/vim-repeat"]
	path = home/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/.vim/bundle/vim-stylus"]
	path = home/.vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "home/.vim/bundle/python-mode"]
	path = home/.vim/bundle/python-mode
	url = http://github.com/klen/python-mode.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "home/.vim/bundle/vim-jade"]
	path = home/.vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
